/* ---------- General Styles ---------- */
:root {
  --primary: #ff7d1b;
  --secondary-text: #6d6d6d;
}


body,
html {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Sora', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ---------- NAV ---------- */
.menu-nav {
  display: flex;
  justify-content: space-between;
}

.menu-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-mobile {
  display: none;
}

.menu-mobile-aside {
  display: none;
}

.logo {
  height: 25px;
  width: auto;
  margin-right: 60px;
}

.menu-div>ul {
  list-style: none;
  display: inline-flex;
  gap: 25px;
}

.menu-div>ul>li>a {
  color: var(--secondary-text);
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;

}

.menu-div>ul>li>p:hover {
  border-bottom: 2px solid var(--primary);
  margin-bottom: 10px;
}

.cart-profile-div>ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 45px;
}

.avatar {
  width: 50px;
  cursor: pointer;
}

header>hr {
  border: 0.5px solid rgb(226, 226, 226);
}

.cart-li {
  position: relative;
  cursor: pointer;
}

.cart-item {
  background-color: #ec7419;
  width: 21px;
  height: 16px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  bottom: 16px;
  display: none;
}

.cart-item>p {
  font-size: 0.7rem;
  color: white;

}

/* ---------- Main ---------- */

main {
  padding-top: 50px;
  margin: 50px;
  display: flex;
}

/* ---------- Image Section ---------- */
.sneaker-images-section {
  max-width: 500px;
  margin: 0;
}

.main-sneaker-img-div img {
  width: 500px;
  border-radius: 15px;
}

.preview-sneaker-img-div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.preview-sneaker-img-div img {
  cursor: pointer;
  border-radius: 15px;
  width: 120px;
}

/* ---------- Sneaker Details Section (Text) ---------- */
.sneaker-details-section {
  margin-left: 120px;
  max-width: 700px;
}

.sneaker-details-text-div h3 {
  margin-top: 60px;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 1rem;
}

.sneaker-details-text-div h1 {
  margin-top: 0;
  font-size: 2.4rem;
}

.sneaker-details-text-div p {
  font-size: 1rem;
  color: var(--secondary-text);
}

.current-price {
  display: flex;
  align-items: center;
}

.current-price h1 {
  margin-right: 20px;
  font-size: 32px;
}

.discount-card {
  display: flex;
  text-align: center;
  line-height: 30px;
}

.discount-card h3 {
  background-color: rgb(255, 236, 202);
  border-radius: 5px;
  color: var(--primary);
  height: 30px;
  width: 50px;
  padding: 2px;

}

.old-price h4 {
  margin-top: -10px;
  color: #D3D3D3;
  text-decoration: line-through;
}

/* ---------- Sneaker Details Section (Buttons) ---------- */

.buttons-div {
  display: inline-flex;
  width: 100%;
  margin-top: 40px;
}

.quantity-selector-card {
  background: #f7f8fd;
  border-radius: 10px;
  width: 240px;
  font-size: 20px;
}

.quantity-selector-card>ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

.quantity-selector-card>ul button {
  background: none;
  padding: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.quantity-selector-card>ul button:hover {
  background: #eeeff3;
  border-radius: 10px;
}

.add-to-cart-div {
  width: 100%;
}

.add-to-cart-div>button {
  background: var(--primary);
  border: none;
  border-radius: 10px;
  height: 60px;
  width: 100%;
  color: white;
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.add-to-cart-div>button:hover {
  background: #ec7419;
}

.add-to-cart-div img {
  filter: brightness(3);
  margin-right: 10px;
}

/* ---------- Cart Card (On click)---------- */
.cart-li {
  position: relative;
}

.cart-card {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.144);
  width: 400px;
  height: 250px;
  border-radius: 10px;
  position: absolute;
  left: -150px;
  top: 40px;
  justify-content: space-between;
}

.active {
  display: none !important;
}


.cart-card section {
  width: 100%;
}

.cart-card-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

.cart-card-inner-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cart-card-text-div p {
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--secondary-text);
}

.cart-card-text-div b {
  color: rgb(43, 42, 42);
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.thumbnail-cart-card {
  height: 80px;
  border-radius: 10px;
}

.checkout-button {
  background: var(--primary);
  border: none;
  border-radius: 10px;
  height: 60px;
  width: 100%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
}

.checkout-button:hover {
  background: #ec7419;
}

.trash-icon {
  height: 16px;
}

.trash-icon:hover {
  opacity: 0.6;
}

/* ---------- Modal Preview ---------- */
.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.preview-column {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.column {
  margin-top: 25px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 600px;
  max-width: 1200px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 40px;
  right: 460px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.slides {
  display: none;
}

.slides>img {
  border-radius: 15px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: 15px;
  height: auto;
  padding: 16px;
  margin: -25px;
  margin-top: -50px;
  transition: 0.6s ease;
  border-radius: 100%;
  display: flex;
  align-items: center;
  background: white;
  filter: drop-shadow(2px 4px 6px black);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(2px 4px 6px black);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  opacity: 0.8;
}

img.thumbnail {
  opacity: 0.8;
  border-radius: 15px;
  width: 125px;
  cursor: pointer;
}

.active,
.thumbnail:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.8s ease-out linear;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ---------- Copyright ---------- */
.attribution {
  margin-top: 100px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* ------------ MOBILE SETTINGS ------------  */
@media screen and (max-width: 600px) {
  /* .container {
    max-width: 600px;
  } */

  hr {
    display: none;
  }

  .menu-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .menu-div ul {
    display: none;
  }

  .menu-mobile {
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }

  .menu-mobile img {
    cursor: pointer;
    height: 18px;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidebar img {
    padding: 20px;
    filter: grayscale(3);
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar li {
    padding: 20px;
  }

  .sidebar a {
    font-weight: bold;
    font-size: 18px;
  }

  .logo {
    margin: 0;
    margin-left: -50px;
  }

  .cart-profile-div {
    display: flex;
    margin-right: 20px;
  }

  .cart-profile-div ul {
    padding: 0;
    gap: 20px;
  }

  .avatar {
    width: 30px;
  }

  .thumbnail-cart-card {
    width: auto;
    height: 50px;
  }

  .cart-card {
    width: 360px;
    left: -315px;
    top: 80px;
  }

  main {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .main-sneaker-img-div img {
    width: 100%;
    height: 330px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    object-fit: cover;
  }

  .preview-sneaker-img-div {
    display: none;
  }

  .sneaker-details-section {
    margin: 20px;
    padding: 0;
  }

  .sneaker-details-text-div h3 {
    margin-top: 0;
    font-size: 0.9rem;
  }

  .sneaker-details-text-div h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .sneaker-details-text-div p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
  }

  .sneaker-main-price-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .current-price h1 {
    font-size: 2rem;
  }

  .old-price h4 {
    margin: 0 !important;
  }

  .buttons-div {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .quantity-selector-card {
    width: 100%;
    margin-bottom: 20px;
  }

  #plus-button {
    padding-left: 50px;
  }

  #minus-button {
    padding-right: 50px;
  }

  #add-to-cart-button {
    margin: 0;
  }

  .attribution {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}