/* ---------- General Styles ---------- */
:root {
  --primary: #ff7d1b;
  --secondary-text: #6d6d6d;
}


body,
html {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Sora', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ---------- NAV ---------- */
.menu-nav {
  display: flex;
  justify-content: space-between;
}

.menu-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 25px;
  width: auto;
  margin-right: 60px;
}

.menu-div>ul {
  list-style: none;
  display: inline-flex;
  gap: 25px;
}

.menu-div>ul>li>p {
  color: var(--secondary-text);
  font-size: 15px;
}

.cart-profile-div>ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 45px;
}

.avatar {
  width: 50px;
}

header>hr {
  border: 0.5px solid rgb(226, 226, 226);
}

/* ---------- Main ---------- */

main {
  padding-top: 50px;
  margin: 50px;
  display: flex;
}

/* ---------- Image Section ---------- */
.sneaker-images-section {
  max-width: 500px;
  margin: 0;
}

.main-sneaker-img-div img {
  width: 500px;
  border-radius: 15px;
}

.preview-sneaker-img-div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.preview-sneaker-img-div img {
  border-radius: 15px;
  width: 120px;
}

/* ---------- Sneaker Details Section (Text) ---------- */
.sneaker-details-section {
  margin-left: 120px;
  max-width: 700px;
}

.sneaker-details-text-div h3 {
  margin-top: 60px;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 1rem;
}

.sneaker-details-text-div h1 {
  margin-top: 0;
  font-size: 2.4rem;
}

.sneaker-details-text-div p {
  font-size: 1rem;
  color: var(--secondary-text);
}

.current-price {
  display: flex;
  align-items: center;
}

.current-price h1 {
  margin-right: 20px;
  font-size: 32px;
}

.discount-card {
  display: flex;
  text-align: center;
  line-height: 30px;
}

.discount-card h3 {
  background-color: rgb(255, 236, 202);
  border-radius: 5px;
  color: var(--primary);
  height: 30px;
  width: 50px;
  padding: 2px;

}

.old-price h4 {
  margin-top: -10px;
  color: #D3D3D3;
  text-decoration: line-through;
}

/* ---------- Sneaker Details Section (Buttons) ---------- */

.buttons-div {
  display: inline-flex;
  width: 100%;
  margin-top: 40px;
}

.quantity-selector-card {
  background: #f7f8fd;
  border-radius: 10px;
  width: 240px;
  font-size: 20px;
}

.quantity-selector-card>ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

.quantity-selector-card>ul button {
  background: none;
  padding: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.add-to-cart-div {
  width: 100%;
}

.add-to-cart-div>button {
  background: var(--primary);
  border: none;
  border-radius: 10px;
  height: 60px;
  width: 100%;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.add-to-cart-div img {
  filter: brightness(3);
  margin-right: 10px;
}

/* ---------- Copyright ---------- */
.attribution {
  margin-top: 100px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}